In [76]:
import pandas as pd
import numpy as np

In [77]:
%pwd

'C:\\Users\\Leah\\Google Drive\\Parent Folder\\2. Clients\\Local\\Dallas\\Communities Foundation of Texas\\Q32018\\Data Work'

### Process for Check-in data

In [78]:
df=pd.read_excel(r"C:\Users\Leah\Google Drive\Parent Folder\2. Clients\Local\Dallas\Communities Foundation of Texas\Q32018\Data Work\Q3Data.xlsx")

In [79]:
df.head()

,Agency,Client ID,QuarterBaselineSubmitted,Baseline,DOB,Year,DOB_Baseline Cat,Gender,Race,Hispanic_Baseline,...,ExpensesHH_Baseline Cat,BenefitsScreening,PublicBenefitsAccess,AgencyProvidedSupport,FinCap_Budget,FinCap_Goals,FinCap_EmergencyFund,FinCap_AutoDeposit,FinCap_IncomeExpenses,FinCap_LateFee
0,CCD,1035936,NaN,1,1988-12-22 00:00:00,NaN,NaN,2,3,NaN,...,NaN,1.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0
1,CCD,1048015,NaN,1,1974-01-31 00:00:00,NaN,NaN,2,8,NaN,...,NaN,1.0,NaN,NaN,0.0,1.0,1.0,0.0,1.0,1.0
2,CCD,1055975,NaN,1,1980-04-15 00:00:00,NaN,NaN,2,8,NaN,...,NaN,0.0,NaN,NaN,0.0,1.0,0.0,0.0,1.0,1.0
3,CCD,1063933,NaN,1,NaN,NaN,NaN,1,7,NaN,...,NaN,1.0,NaN,NaN,1.0,2.0,1.0,0.0,1.0,1.0
4,CCD,1064209,NaN,1,1974-08-24 00:00:00,NaN,NaN,2,8,NaN,...,NaN,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0

In [80]:
##Add a suffix to each column name
#https://stackoverflow.com/questions/34049618/how-to-add-a-suffix-to-each-column-name

In [81]:
df.columns = [str(col) + '_Baseline' for col in df.columns]

In [82]:
[w for w in df.columns if '_Baseline_Baseline' in w]

['Hispanic_Baseline_Baseline',
 'IntensityEmployment_Baseline_Baseline',
 'Assets_Baseline_Baseline',
 'AccessFinancialCoach_Baseline_Baseline',
 'IntensityFinancialEd_Baseline_Baseline',
 'IntensityFinancialCoach_Baseline_Baseline']

In [83]:
df = df.rename(columns = {'Hispanic_Baseline_Baseline':'Hispanic_Baseline',
                         'IntensityEmployment_Baseline_Baseline':'IntensityEmployment_Baseline',
                         'Assets_Baseline_Baseline':'Assets_Baseline',
                         'AccessFinancialCoach_Baseline_Baseline':'AccessFinancialEd_Baseline',
                         'IntensityFinancialEd_Baseline_Baseline':'IntensityFinancialEd_Baseline',
                         'IntensityFinancialCoach_Baseline_Baseline':'IntensityFinancialCoach_Baseline',
                         'Year_Baseline':'Year'})

In [84]:
#df=df.rename(columns={col: col.split('_')[0] for col in df.columns if '_Checkin_2018Q3_Checkin_2018Q3' in df.columns})

In [85]:
#df[alter1].columns = [str(col).replace('_Checkin_2018Q3_Checkin_2018Q3', '_Checkin_2018Q3') for col in df[alter1].columns]

In [86]:
[w for w in df.columns if 'Cat' in w]

['DOB_Baseline Cat_Baseline',
 'Savings_Baseline Cat_Baseline',
 'Assets_Baseline Cat_Baseline',
 'CreditScore_Baseline Cat_Baseline',
 'Debt_Baseline Cat_Baseline',
 'Wages1_Baseline Cat_Baseline',
 'Hours1_Baseline Cat_Baseline',
 'Wages_Baseline_Merged Cat_Baseline',
 'Hours_Baseline_Merged Cat_Baseline',
 'IncomeClient_Baseline Cat_Baseline',
 'IncomeHH_Baseline Cat_Baseline',
 'ExpensesHH_Baseline Cat_Baseline']

In [87]:
df = df.rename(columns = {'DOB_Baseline Cat_Baseline':'DOB_Baseline Cat',
                         'Savings_Baseline Cat_Baseline':'Savings_Baseline Cat',
                         'Assets_Baseline Cat_Baseline':'Assets_Baseline Cat',
                         'CreditScore_Baseline Cat_Baseline':'CreditScore_Baseline Cat',
                         'Debt_Baseline Cat_Baseline':'Debt_Baseline Cat',
                         'Wages1_Baseline Cat_Baseline':'Wages1_Baseline Cat',
                         'Hours1_Baseline Cat_Baseline':'Hours1_Baseline Cat',
                         'Wages_Baseline_Merged Cat_Baseline':'Wages_Baseline_Merged Cat',
                         'Hours_Baseline_Merged Cat_Baseline':'Hours_Baseline_Merged Cat',
                         'IncomeClient_Baseline Cat_Baseline':'IncomeClient_Baseline Cat',
                         'IncomeHH_Baseline Cat_Baseline':'IncomeHH_Baseline Cat',
                         'ExpensesHH_Baseline Cat_Baseline':'ExpensesHH_Baseline Cat',
                         'QuarterBaselineSubmitted_Baseline':'QuarterBaselineSubmitted',
                         'Months employed_baseline_Baseline':'Months employed_baseline',
                         'Wages_Baseline_Merged_Baseline':'Wages_Baseline_Merged',
                         'Hours_Baseline_Merged_Baseline':'Hours_Baseline_Merged'
                         })

In [88]:
[w for w in df.columns]

['Agency_Baseline',
 'Client ID_Baseline',
 'QuarterBaselineSubmitted',
 'Baseline_Baseline',
 'DOB_Baseline',
 'Year',
 'DOB_Baseline Cat',
 'Gender_Baseline',
 'Race_Baseline',
 'Hispanic_Baseline',
 'MaritalStatus_Baseline',
 'HighestEd_Baseline',
 'HousingType_Baseline',
 'HHAdults_Baseline',
 'HHChildren_Baseline',
 'CriminalBackground_Baseline',
 'ZipCode_Baseline',
 'AccessEmployment_Baseline',
 'IntensityEmployment_Baseline',
 'EmploymentStatus_Baseline',
 'EmploymentStartDate_Baseline',
 'Months employed_baseline',
 'EmploymentRetention_Baseline',
 'JobTrainingEnrolled_Baseline',
 'JobTrainingCompleted_Baseline',
 'Savings_Baseline',
 'Savings_Baseline Cat',
 'Assets_Baseline',
 'Assets_Baseline Cat',
 'CreditScore_Baseline',
 'CreditScore_Baseline Cat',
 'Debt_Baseline',
 'Debt_Baseline Cat',
 'AccessFinancialCoach_Baseline',
 'AccessFinancialEd_Baseline',
 'IntensityFinancialEd_Baseline',
 'IntensityFinancialCoach_Baseline',
 'Wages1_Baseline',
 'Wages1_Baseline Cat',
 'Hours1_Baseline',
 'Hours1_Baseline Cat',
 'Wages2_Baseline',
 'Hours2_Baseline',
 'Wages_Baseline_Merged',
 'Wages_Baseline_Merged Cat',
 'Hours_Baseline_Merged',
 'Hours_Baseline_Merged Cat',
 'IncomeClient_Baseline',
 'IncomeClient_Baseline Cat',
 'IncomeHH_Baseline',
 'IncomeHH_Baseline Cat',
 'PublicBenefits_Baseline',
 'ExpensesHH_Baseline',
 'ExpensesHH_Baseline Cat',
 'BenefitsScreening_Baseline',
 'PublicBenefitsAccess_Baseline',
 'AgencyProvidedSupport_Baseline',
 'FinCap_Budget_Baseline',
 'FinCap_Goals_Baseline',
 'FinCap_EmergencyFund_Baseline',
 'FinCap_AutoDeposit_Baseline',
 'FinCap_IncomeExpenses_Baseline',
 'FinCap_LateFee_Baseline']

In [89]:
#df.to_excel('see.xlsx')

In [90]:
df['Hispanic_Baseline'] = np.where(df['Race_Baseline']==8,'Hispanic',"")

In [91]:
df['QuarterBaselineSubmitted'] = '2018 Q3'

### Get year data from DOB

In [92]:
df['DOB_Baseline']= pd.to_datetime(df['DOB_Baseline'], errors = 'coerce')

In [93]:
df['Year'] = df['DOB_Baseline'].dt.year

### calculate wages merged and to make sure blank doesn't convert into 0

In [94]:
df['Wages1_Baseline_recode'] = df['Wages1_Baseline'].fillna(0)

In [95]:
df['Wages2_Baseline_recode'] = df['Wages2_Baseline'].fillna(0)

In [96]:
df['Wages_Baseline_Merged'] = np.where(df['Wages1_Baseline_recode']>=df['Wages2_Baseline_recode'],df['Wages1_Baseline_recode'],df['Wages2_Baseline_recode'])

In [97]:
df['Wages1_Baseline_recode2']= df['Wages1_Baseline'].fillna('N')

In [98]:
df['Wages2_Baseline_recode2']= df['Wages2_Baseline'].fillna('N')

In [99]:
df['Wages_Baseline_Merged'] = np.where(df['Wages1_Baseline_recode2'] =='N', "", df['Wages_Baseline_Merged'])

In [100]:
df['Wages_Baseline_Merged'] = np.where(df['Wages1_Baseline_recode2'] ==df['Wages2_Baseline_recode2'], "", df['Wages_Baseline_Merged'])

In [101]:
df['Wages_Baseline_Merged']=pd.to_numeric(df['Wages_Baseline_Merged'] )

In [102]:
df.to_excel('see2.xlsx')

### calculate hours merged

In [103]:
conditions = [df['Wages_Baseline_Merged'] == df['Wages1_Baseline'],
             df['Wages_Baseline_Merged'] == df['Wages2_Baseline']]
choices = [df['Hours1_Baseline'], df['Hours2_Baseline']]
df['Hours_Baseline_Merged'] = np.select(conditions, choices, default = "")

In [105]:
df[df['Hours_Baseline_Merged']=='nan']=df[df['Hours_Baseline_Merged']=='nan'].replace('nan', 0)

In [106]:
df['Hours_Baseline_Merged']= pd.to_numeric(df['Hours_Baseline_Merged'])

### categorize variables

In [107]:
[w for w in df.columns if 'Cat' in w]

['DOB_Baseline Cat',
 'Savings_Baseline Cat',
 'Assets_Baseline Cat',
 'CreditScore_Baseline Cat',
 'Debt_Baseline Cat',
 'Wages1_Baseline Cat',
 'Hours1_Baseline Cat',
 'Wages_Baseline_Merged Cat',
 'Hours_Baseline_Merged Cat',
 'IncomeClient_Baseline Cat',
 'IncomeHH_Baseline Cat',
 'ExpensesHH_Baseline Cat']

In [113]:
#categorize DOB data
df.loc[(df['Year'] >1920) & (df['Year']<=1930),'DOB_Baseline Cat'] ='1921-1930'
df.loc[(df['Year'] >1930) & (df['Year']<=1940),'DOB_Baseline Cat'] ='1931-1940'
df.loc[(df['Year'] >1940) & (df['Year']<=1950),'DOB_Baseline Cat'] ='1941-1950'
df.loc[(df['Year'] >1950) & (df['Year']<=1960),'DOB_Baseline Cat'] ='1951-1960'
df.loc[(df['Year'] >1960) & (df['Year']<=1970),'DOB_Baseline Cat'] ='1961-1970'
df.loc[(df['Year'] >1970) & (df['Year']<=1980),'DOB_Baseline Cat'] ='1971-1980'
df.loc[(df['Year'] >1980) & (df['Year']<=1990),'DOB_Baseline Cat'] ='1981-1990'
df.loc[(df['Year'] >1990) & (df['Year']<=2000),'DOB_Baseline Cat'] ='1991-2000'
df.loc[(df['Year'] >2000) & (df['Year']<=2010),'DOB_Baseline Cat'] ='2001-2010'
df.loc[(df['Year'] >2999),'DOB_Baseline Cat'] ='2011+'

In [114]:
#categorize savings data
df.loc[(df['Savings_Baseline'] ==0),'Savings_Baseline Cat'] =0
df.loc[(df['Savings_Baseline'] >0) & (df['Savings_Baseline']<=49),'Savings_Baseline Cat'] ='$1-$49'
df.loc[(df['Savings_Baseline'] >49) & (df['Savings_Baseline']<=199),'Savings_Baseline Cat'] ='$50-$199'
df.loc[(df['Savings_Baseline'] >199) & (df['Savings_Baseline']<=499),'Savings_Baseline Cat'] ='$200-$499'
df.loc[(df['Savings_Baseline'] >499) & (df['Savings_Baseline']<=999),'Savings_Baseline Cat'] ='$500-$999'
df.loc[(df['Savings_Baseline'] >1000) & (df['Savings_Baseline']<=2999),'Savings_Baseline Cat'] ='$1000-$2999'
df.loc[(df['Savings_Baseline'] >2999),'Savings_Baseline Cat'] ='$3000+'

In [115]:
#categorize creditscore data
df.loc[(df['CreditScore_Baseline'] <500),'CreditScore_Baseline Cat'] ='Below 500'
df.loc[(df['CreditScore_Baseline'] >499) & (df['CreditScore_Baseline']<=599),'CreditScore_Baseline Cat'] ='500-599'
df.loc[(df['CreditScore_Baseline'] >599) & (df['CreditScore_Baseline']<=699),'CreditScore_Baseline Cat'] ='600-699'
df.loc[(df['CreditScore_Baseline'] >699),'CreditScore_Baseline Cat'] ='700+'

In [116]:
#categorize Debt data
df.loc[(df['Debt_Baseline'] ==0),'Debt_Baseline Cat'] ='$0'
df.loc[(df['Debt_Baseline'] >0) & (df['Debt_Baseline']<=999),'Debt_Baseline Cat'] ='$1-$999'
df.loc[(df['Debt_Baseline'] >999) & (df['Debt_Baseline']<=4999),'Debt_Baseline Cat'] ='$1,000-$4,999'
df.loc[(df['Debt_Baseline'] >4999) & (df['Debt_Baseline']<=9999),'Debt_Baseline Cat'] ='$5,000-$9,999'
df.loc[(df['Debt_Baseline'] >9999) & (df['Debt_Baseline']<=29999),'Debt_Baseline Cat'] ='$10,000-$29,999'
df.loc[(df['Debt_Baseline'] >29999) & (df['Debt_Baseline']<=49999),'Debt_Baseline Cat'] ='$30,000-$49,999'
df.loc[(df['Debt_Baseline'] >49999) & (df['Debt_Baseline']<=99999),'Debt_Baseline Cat'] ='$50,000-$99,999'
df.loc[(df['Debt_Baseline'] >99999),'Debt_Baseline Cat'] ='$100,000+'

In [117]:
#categorize Wages1 data
df.loc[(df['Wages1_Baseline'] ==0),'Wages1_Baseline Cat'] =0
df.loc[(df['Wages1_Baseline'] >0) & (df['Wages1_Baseline']<=9.99),'Wages1_Baseline Cat'] ='$1-$9.99'
df.loc[(df['Wages1_Baseline'] >9.99) & (df['Wages1_Baseline']<=11.99),'Wages1_Baseline Cat'] ='$10-$11.99'
df.loc[(df['Wages1_Baseline'] >11.99) & (df['Wages1_Baseline']<=14.99),'Wages1_Baseline Cat'] ='$12-$14.99'
df.loc[(df['Wages1_Baseline'] >14.99) & (df['Wages1_Baseline']<=19.99),'Wages1_Baseline Cat'] ='$15-$19.99'
df.loc[(df['Wages1_Baseline'] >19.99),'Wages1_Baseline Cat'] ='$20+'

In [118]:
#categorize hours1 data
df.loc[(df['Hours1_Baseline'] ==0),'Hours1_Baseline Cat'] =0
df.loc[(df['Hours1_Baseline'] >0) & (df['Hours1_Baseline']<=9),'Hours1_Baseline Cat'] ='1-9'
df.loc[(df['Hours1_Baseline'] >9) & (df['Hours1_Baseline']<=19),'Hours1_Baseline Cat'] ='10-19'
df.loc[(df['Hours1_Baseline'] >19) & (df['Hours1_Baseline']<=29),'Hours1_Baseline Cat'] ='20-29'
df.loc[(df['Hours1_Baseline'] >29) & (df['Hours1_Baseline']<=39),'Hours1_Baseline Cat'] ='30-39'
df.loc[(df['Hours1_Baseline'] >39) & (df['Hours1_Baseline']<=49),'Hours1_Baseline Cat'] ='40-49'
df.loc[(df['Hours1_Baseline'] >49),'Hours1_Baseline Cat'] ='50+'

In [119]:
#categorize Wages merged data
df.loc[(df['Wages_Baseline_Merged'] ==0),'Wages_Baseline_Merged Cat'] =0
df.loc[(df['Wages_Baseline_Merged'] >0) & (df['Wages_Baseline_Merged']<=9.99),'Wages_Baseline_Merged Cat'] ='$1-$9.99'
df.loc[(df['Wages_Baseline_Merged'] >9.99) & (df['Wages_Baseline_Merged']<=11.99),'Wages_Baseline_Merged Cat'] ='$10-$11.99'
df.loc[(df['Wages_Baseline_Merged'] >11.99) & (df['Wages_Baseline_Merged']<=14.99),'Wages_Baseline_Merged Cat'] ='$12-$14.99'
df.loc[(df['Wages_Baseline_Merged'] >14.99) & (df['Wages_Baseline_Merged']<=19.99),'Wages_Baseline_Merged Cat'] ='$15-$19.99'
df.loc[(df['Wages_Baseline_Merged'] >19.99),'Wages_Baseline_Merged Cat'] ='$20+'

In [120]:
#categorize hours merged data
df.loc[(df['Hours_Baseline_Merged'] ==0),'Hours_Baseline_Merged Cat'] =0
df.loc[(df['Hours_Baseline_Merged'] >0) & (df['Hours_Baseline_Merged']<=9),'Hours_Baseline_Merged Cat'] ='1-9'
df.loc[(df['Hours_Baseline_Merged'] >9) & (df['Hours_Baseline_Merged']<=19),'Hours_Baseline_Merged Cat'] ='10-19'
df.loc[(df['Hours_Baseline_Merged'] >19) & (df['Hours_Baseline_Merged']<=29),'Hours_Baseline_Merged Cat'] ='20-29'
df.loc[(df['Hours_Baseline_Merged'] >29) & (df['Hours_Baseline_Merged']<=39),'Hours_Baseline_Merged Cat'] ='30-39'
df.loc[(df['Hours_Baseline_Merged'] >39) & (df['Hours_Baseline_Merged']<=49),'Hours_Baseline_Merged Cat'] ='40-49'
df.loc[(df['Hours_Baseline_Merged'] >49),'Hours_Baseline_Merged Cat'] ='50+'

In [121]:
#categorize incomeclient data 
df.loc[(df['IncomeClient_Baseline'] ==0),'IncomeClient_Baseline Cat'] =0
df.loc[(df['IncomeClient_Baseline'] >0) & (df['IncomeClient_Baseline']<=499),'IncomeClient_Baseline Cat'] ='$1-$499'
df.loc[(df['IncomeClient_Baseline'] >499) & (df['IncomeClient_Baseline']<=999),'IncomeClient_Baseline Cat'] ='$500-$999'
df.loc[(df['IncomeClient_Baseline'] >999) & (df['IncomeClient_Baseline']<=1499),'IncomeClient_Baseline Cat'] ='$1000-$1499'
df.loc[(df['IncomeClient_Baseline'] >1499) & (df['IncomeClient_Baseline']<=1999),'IncomeClient_Baseline Cat'] ='$1500-$1999'
df.loc[(df['IncomeClient_Baseline'] >1999) & (df['IncomeClient_Baseline']<=2999),'IncomeClient_Baseline Cat'] ='$2000-$2999'
df.loc[(df['IncomeClient_Baseline'] >2999),'IncomeClient_Baseline Cat'] ='$3000+'

In [122]:
#categorize incomehh data
df.loc[(df['IncomeHH_Baseline'] ==0),'IncomeHH_Baseline Cat'] =0
df.loc[(df['IncomeHH_Baseline'] >0) & (df['IncomeHH_Baseline']<=499),'IncomeHH_Baseline Cat'] ='$1-$499'
df.loc[(df['IncomeHH_Baseline'] >499) & (df['IncomeHH_Baseline']<=999),'IncomeHH_Baseline Cat'] ='$500-$999'
df.loc[(df['IncomeHH_Baseline'] >999) & (df['IncomeHH_Baseline']<=1499),'IncomeHH_Baseline Cat'] ='$1000-$1499'
df.loc[(df['IncomeHH_Baseline'] >1499) & (df['IncomeHH_Baseline']<=1999),'IncomeHH_Baseline Cat'] ='$1500-$1999'
df.loc[(df['IncomeHH_Baseline'] >1999) & (df['IncomeHH_Baseline']<=2999),'IncomeHH_Baseline Cat'] ='$2000-$2999'
df.loc[(df['IncomeHH_Baseline'] >2999),'IncomeHH_Baseline Cat'] ='$3000+'

In [123]:
#categorize expenseshh data
df.loc[(df['ExpensesHH_Baseline'] ==0),'ExpensesHH_Baseline Cat'] =0
df.loc[(df['ExpensesHH_Baseline'] >0) & (df['ExpensesHH_Baseline']<=499),'ExpensesHH_Baseline Cat'] ='$1-$499'
df.loc[(df['ExpensesHH_Baseline'] >499) & (df['ExpensesHH_Baseline']<=999),'ExpensesHH_Baseline Cat'] ='$500-$999'
df.loc[(df['ExpensesHH_Baseline'] >999) & (df['ExpensesHH_Baseline']<=1499),'ExpensesHH_Baseline Cat'] ='$1000-$1499'
df.loc[(df['ExpensesHH_Baseline'] >1499) & (df['ExpensesHH_Baseline']<=1999),'ExpensesHH_Baseline Cat'] ='$1500-$1999'
df.loc[(df['ExpensesHH_Baseline'] >1999) & (df['ExpensesHH_Baseline']<=2999),'ExpensesHH_Baseline Cat'] ='$2000-$2999'
df.loc[(df['ExpensesHH_Baseline'] >2999),'ExpensesHH_Baseline Cat'] ='$3000+'

## convert numeric to string values

In [124]:
df['Gender_Baseline'].value_counts()

2     357
1     154
99      2
Name: Gender_Baseline, dtype: int64

In [125]:
#Gender

gender_mapping = {1: 'Male',
                2: 'Female',
                99: 'Unknown',
                 'Male':'Male',
                 'Female':'Female',
                 'Unknown':'Unknown',
                 'F':'Female',
                 'M':'Male'}
df['Gender_Baseline'] = df['Gender_Baseline'].map(gender_mapping)

In [126]:
#Race

race_mapping = {1: 'American Indian or Alaska Native',
                2: 'Asian',
                3: 'Black or African American',
                4: 'Multiple',
                5: 'Native Hawaiian or Pacific Islander',
                6: 'Other',
                7: 'White',
                8: 'Hispanic',
                99: 'Unknown',
                'American Indian or Alaska Native': 'American Indian or Alaska Native',
                'Asian': 'Asian',
                'Black or African American': 'Black or African American',
                'Black or African-American': 'Black or African American',
                'African American': 'Black or African American',
                'Multiple': 'Multiple',
                'Native Hawaiian or Pacific Islander': 'Native Hawaiian or Pacific Islander',
                'Native Hawaiian or Pcific Islander': 'Native Hawaiian or Pacific Islander',
                'Other': 'Other',
                'White': 'White',
                'Unknown': 'Unknown'}
df['Race_Baseline'] = df['Race_Baseline'].map(race_mapping)

In [127]:
#Marital Status
marital_mapping = {1: 'Single',
                2: 'Married or Domestic Partnership',
                3: 'Divorced',
                4: 'Separated',
                5: 'Widowed',
                99: 'Unknown',
                'Single': 'Single',
                'Married or Domestic Partnership': 'Married or Domestic Partnership',
                'Divorced': 'Divorced',
                'Separated': 'Separated',
                'Widowed': 'Widowed',
                'Unknown': 'Unknown'}
df['MaritalStatus_Baseline'] = df['MaritalStatus_Baseline'].map(marital_mapping)

In [128]:
#HighestEd
highestEd_mapping = {1: 'Less than HS',
                2: 'HS, GED, or equivalent',
                3: 'Some college, no degree',
                4: 'Associate Degree',
                5: "Bachelor's Degree",
                6: 'Graduate Degree or above',
                99: 'Unknown',
                'Unknown': 'Unknown', 
                'HS, GED, or equivalent':'HS, GED, or equivalent', 
                'Associate Degree':'Associate Degree',
                'Less than HS':'Less than HS', 
                'Some college, no degree':'Some college, no degree',
                "Bachelor's Degree":"Bachelor's Degree", 
                'Gradeuate Degree or above':'Graduate Degree or above',
                'HS GED or equivalent':'HS, GED, or equivalent', 
                'Graduate Degree or above':'Graduate Degree or above',
                'Bachelors Degree':"Bachelor's Degree", 
                'Some college no degree':'Some college, no degree'}
df['HighestEd_Baseline'] = df['HighestEd_Baseline'].map(highestEd_mapping)

In [129]:
#Housing Type
housingType_mapping = {1: 'Homeless',
                2: 'Lives with Relatives/Friends',
                3: 'Receives free or subsidized housing',
                4: 'Rents',
                5: 'Owns',
                99: 'Unknown',
                'Unknown':'Unknown', 
                'Lives with Relatives/Friends':'Lives with Relatives/Friends', 
                'Rents':'Rents', 
                'Owns':'Owns', 
                'Homeless':'Homeless', 
                'Receives free or subsidized housing':'Receives free or subsidized housing',
                'lives with relatives/friends':'Lives with Relatives/Friends', 
                'rents':'Rents', 
                'owns':'Owns',
                'Lives with Relatives or Friends':'Lives with Relatives/Friends'}
df['HousingType_Baseline'] = df['HousingType_Baseline'].map(housingType_mapping)

In [131]:
#Criminal Background
criminalBackground_mapping = {1: 'Yes',
                             0: 'No',
                             99: 'Unknown',
                             'Yes': 'Yes',
                             'No': 'No',
                             'Unknown': 'Unknown'}
df['CriminalBackground_Baseline'] = df['CriminalBackground_Baseline'].map(criminalBackground_mapping)

In [132]:
#Access Employment
accessEmployment_mapping = {1: 'Yes',
                            0: 'No',
                            'Yes':'Yes',
                            'No':'No'}
df['AccessEmployment_Baseline'] = df['AccessEmployment_Baseline'].map(accessEmployment_mapping)

In [133]:
#Employment Status
employmentStatus_mapping = {1: 'Employed Full Time',
                            2: 'Employed Part Time',
                            3: 'Not employed',
                           'Employed Full Time': 'Employed Full Time',
                           'Employed Part Time': 'Employed Part Time',
                           'Not employed': 'Not employed',
                           'Unemployed':'Not employed', 
                           'Employed Part-Time':'Employed Part Time', 
                           'Employed Full-Time':'Employed Full Time'}
df['EmploymentStatus_Baseline'] = df['EmploymentStatus_Baseline'].map(employmentStatus_mapping)

In [134]:
#Employment Retention
employmentRetention_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['EmploymentRetention_Baseline'] = df['EmploymentRetention_Baseline'].map(employmentRetention_mapping)

In [135]:
jobTrainingEnrolled_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['JobTrainingEnrolled_Baseline'] = df['JobTrainingEnrolled_Baseline'].map(jobTrainingEnrolled_mapping)

In [136]:
jobTrainingCompleted_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['JobTrainingCompleted_Baseline'] = df['JobTrainingCompleted_Baseline'].map(jobTrainingCompleted_mapping)

In [137]:
#Access Financial Coach
accessFinancialCoach_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['AccessFinancialCoach_Baseline'] = df['AccessFinancialCoach_Baseline'].map(accessFinancialCoach_mapping)

In [138]:
#Benefits Screening

benefitsScreening_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['BenefitsScreening_Baseline'] = df['BenefitsScreening_Baseline'].map(benefitsScreening_mapping)

In [139]:
#Public Benefits Access

publicBenefitsAccess_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['PublicBenefitsAccess_Baseline'] = df['PublicBenefitsAccess_Baseline'].map(publicBenefitsAccess_mapping)

In [140]:
#Agency Provided Support
agencyProvidedSupport_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['AgencyProvidedSupport_Baseline'] = df['AgencyProvidedSupport_Baseline'].map(agencyProvidedSupport_mapping)

In [141]:
#FinCap Budget
finCapBudget_mapping = {1: 'Yes',
                        0: 'No',
                       'Yes': 'Yes',
                       'No': 'No'}
df['FinCap_Budget_Baseline'] = df['FinCap_Budget_Baseline'].map(finCapBudget_mapping)

In [143]:
#FinCap Goals
finCapGoals_mapping = {1: 'Somewhat confident',
                             0: 'Not at all confident',
                      2: 'Very confident',
                      'Very confident':'Very confident', 
                      'Somewhat confident':'Somewhat confident',
                      'Not at all confident':'Not at all confident', 
                      'Somewhat Confident':'Somewhat confident',
                      'Very Confident':'Very confident'}
df['FinCap_Goals_Baseline'] = df['FinCap_Goals_Baseline'].map(finCapGoals_mapping)

In [144]:
#FinCap Emergency Fund
finCapEmergencyFund_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['FinCap_EmergencyFund_Baseline'] = df['FinCap_EmergencyFund_Baseline'].map(finCapEmergencyFund_mapping)

In [145]:
#FinCap Auto Deposit

finCapAutoDeposit_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['FinCap_AutoDeposit_Baseline'] = df['FinCap_AutoDeposit_Baseline'].map(finCapAutoDeposit_mapping)

In [146]:
#FinCap Income Expenses
finCapIncomeExpenses_mapping = {1: 'Yes',
                                0: 'No',
                             'No':'No', 
                             'Yes':'Yes', 
                             "No/Don't know":"Don't know"}
df['FinCap_IncomeExpenses_Baseline'] = df['FinCap_IncomeExpenses_Baseline'].map(finCapIncomeExpenses_mapping)

In [147]:
#FinCap Late Fee
finCapLateFee_mapping = {1: 'Yes',
                             0: 'No',
                        'Yes': 'Yes',
                        'No': 'No'}
df['FinCap_LateFee_Baseline'] = df['FinCap_LateFee_Baseline'].map(finCapLateFee_mapping)

In [148]:
drop_list = [w for w in df.columns if 'recode' in w]

In [149]:
df = df.drop(columns =drop_list)

In [150]:
df.to_excel('Q3_baseline.xlsx')

### remember to change the order of AccessFinancilED and AccessFinancialCoach