In [1]:
import pandas as pd
import numpy as np

In [2]:
%pwd

'C:\\Users\\Leah\\Google Drive\\Parent Folder\\2. Clients\\Local\\Dallas\\Communities Foundation of Texas\\Q32018\\Data Work'

### Process for Check-in data

In [220]:
df=pd.read_excel(r"C:\Users\Leah\Google Drive\Parent Folder\2. Clients\Local\Dallas\Communities Foundation of Texas\Q32018\Data Work\Q3Data.xlsx")

In [221]:
df.head()

,Agency,Client ID,Baseline_2018Q3,DOB,Gender,Race,Hispanic,MaritalStatus,HighestEd,HousingType,...,ExpensesHH_Checkin_Cat_2018Q3,BenefitsScreening,PublicBenefitsAccess,AgencyProvidedSupport,FinCap_Budget,FinCap_Goals,FinCap_EmergencyFund,FinCap_AutoDeposit,FinCap_IncomeExpenses,FinCap_LateFee
0,CCD,1038583,0,1963-11-01 00:00:00,1,3.0,NaN,2.0,99.0,99.0,...,NaN,1.0,NaN,NaN,1.0,2.0,0.0,1.0,1.0,1.0
1,CCD,1038869,0,1962-04-29 00:00:00,2,8.0,NaN,2.0,1.0,5.0,...,NaN,0.0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,1.0
2,CCD,1044721,0,1964-07-04 00:00:00,2,8.0,NaN,2.0,1.0,4.0,...,NaN,0.0,NaN,NaN,1.0,1.0,0.0,0.0,1.0,1.0
3,CCD,1045973,0,1955-08-13 00:00:00,2,7.0,NaN,3.0,4.0,99.0,...,NaN,1.0,NaN,NaN,1.0,2.0,1.0,1.0,1.0,1.0
4,CCD,1047005,0,1966-12-27 00:00:00,2,3.0,NaN,3.0,1.0,4.0,...,NaN,1.0,NaN,NaN,0.0,1.0,0.0,0.0,1.0,1.0

In [222]:
##Add a suffix to each column name
#https://stackoverflow.com/questions/34049618/how-to-add-a-suffix-to-each-column-name

In [223]:
df.columns = [str(col) + '_Checkin_2018Q3' for col in df.columns]

In [224]:
[w for w in df.columns if '_Checkin_2018Q3_Checkin_2018Q3' in w]

['Assets_Checkin_2018Q3_Checkin_2018Q3',
 'AccessFinancialCoach_Checkin_2018Q3_Checkin_2018Q3',
 'IntensityFinancialEd_Checkin_2018Q3_Checkin_2018Q3',
 'IntensityFinancialCoach_Checkin_2018Q3_Checkin_2018Q3',
 'Wages Merged_Checkin_2018Q3_Checkin_2018Q3',
 'Hours Merged_Checkin_2018Q3_Checkin_2018Q3']

In [225]:
df = df.rename(columns = {'Assets_Checkin_2018Q3_Checkin_2018Q3':'Assets_Checkin_2018Q3',
                         'AccessFinancialCoach_Checkin_2018Q3_Checkin_2018Q3':'AccessFinancialCoach_Checkin_2018Q3',
                         'IntensityFinancialEd_Checkin_2018Q3_Checkin_2018Q3':'IntensityFinancialEd_Checkin_2018Q3',
                         'IntensityFinancialCoach_Checkin_2018Q3_Checkin_2018Q3':'IntensityFinancialCoach_Checkin_2018Q3',
                         'Wages Merged_Checkin_2018Q3_Checkin_2018Q3':'Wages Merged_Checkin_2018Q3',
                         'Hours Merged_Checkin_2018Q3_Checkin_2018Q3':'Hours Merged_Checkin_2018Q3'})

In [226]:
#df=df.rename(columns={col: col.split('_')[0] for col in df.columns if '_Checkin_2018Q3_Checkin_2018Q3' in df.columns})

In [227]:
#df[alter1].columns = [str(col).replace('_Checkin_2018Q3_Checkin_2018Q3', '_Checkin_2018Q3') for col in df[alter1].columns]

In [228]:
[w for w in df.columns if '_Checkin_Cat_2018Q3_Checkin_2018Q3' in w]

['Savings_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'Assets_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'CreditScore_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'Debt_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'Wages Merged_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'Hours Merged_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'IncomeClient_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'IncomeHH_Checkin_Cat_2018Q3_Checkin_2018Q3',
 'ExpensesHH_Checkin_Cat_2018Q3_Checkin_2018Q3']

In [229]:
df = df.rename(columns = {'Savings_Checkin_Cat_2018Q3_Checkin_2018Q3':'Savings_Cat_Checkin_2018Q3',
                         'Assets_Checkin_Cat_2018Q3_Checkin_2018Q3':'Assets_Cat_Checkin_2018Q3',
                         'CreditScore_Checkin_Cat_2018Q3_Checkin_2018Q3':'CreditScore_Cat_Checkin_2018Q3',
                         'Debt_Checkin_Cat_2018Q3_Checkin_2018Q3':'Debt_Cat_Checkin_2018Q3',
                         'Wages Merged_Checkin_Cat_2018Q3_Checkin_2018Q3':'Wages Merged_Cat_Checkin_2018Q3',
                         'Hours Merged_Checkin_Cat_2018Q3_Checkin_2018Q3':'Hours Merged_Cat_Checkin_2018Q3',
                         'IncomeClient_Checkin_Cat_2018Q3_Checkin_2018Q3':'IncomeClient_Cat_Checkin_2018Q3',
                         'IncomeHH_Checkin_Cat_2018Q3_Checkin_2018Q3':'IncomeHH_Cat_Checkin_2018Q3',
                         'ExpensesHH_Checkin_Cat_2018Q3_Checkin_2018Q3':'ExpensesHH_Cat_Checkin_2018Q3'})

In [230]:
#df.to_excel('Q3_checkin.xlsx')

In [231]:
df['Hispanic_Checkin_2018Q3'] = np.where(df['Race_Checkin_2018Q3']==8,'Hispanic',"")

### calculate wages merged and to make sure blank doesn't convert into 0

In [232]:
df['Wages1_Checkin_2018Q3_recode'] = df['Wages1_Checkin_2018Q3'].fillna(0)

In [233]:
df['Wages2_Checkin_2018Q3_recode'] = df['Wages2_Checkin_2018Q3'].fillna(0)

In [234]:
df['Wages Merged_Checkin_2018Q3'] = np.where(df['Wages1_Checkin_2018Q3_recode']>=df['Wages2_Checkin_2018Q3_recode'],df['Wages1_Checkin_2018Q3_recode'],df['Wages2_Checkin_2018Q3_recode'])

In [235]:
df['Wages1_Checkin_2018Q3_recode2']= df['Wages1_Checkin_2018Q3'].fillna('N')

In [236]:
df['Wages2_Checkin_2018Q3_recode2']= df['Wages2_Checkin_2018Q3'].fillna('N')

In [237]:
df['Wages Merged_Checkin_2018Q3'] = np.where(df['Wages1_Checkin_2018Q3_recode2'] =='N', "", df['Wages Merged_Checkin_2018Q3'])

In [238]:
df['Wages Merged_Checkin_2018Q3'] = np.where(df['Wages2_Checkin_2018Q3_recode2'] ==df['Wages1_Checkin_2018Q3_recode2'], "", df['Wages Merged_Checkin_2018Q3'])

In [239]:
df['Wages Merged_Checkin_2018Q3']=pd.to_numeric(df['Wages Merged_Checkin_2018Q3'] )

### calculate hours merged

In [240]:
conditions = [df['Wages Merged_Checkin_2018Q3'] == df['Wages1_Checkin_2018Q3'],
             df['Wages Merged_Checkin_2018Q3'] == df['Wages2_Checkin_2018Q3']]
choices = [df['Hours1_Checkin_2018Q3'], df['Hours2_Checkin_2018Q3']]
df['Hours Merged_Checkin_2018Q3'] = np.select(conditions, choices, default = "")

In [241]:
df[df['Hours Merged_Checkin_2018Q3']=='nan']=df[df['Hours Merged_Checkin_2018Q3']=='nan'].replace('nan', 0)

In [242]:
df['Hours Merged_Checkin_2018Q3']= pd.to_numeric(df['Hours Merged_Checkin_2018Q3'])

### categorize variables

In [243]:
[w for w in df.columns if 'Cat' in w]

['Savings_Cat_Checkin_2018Q3',
 'Assets_Cat_Checkin_2018Q3',
 'CreditScore_Cat_Checkin_2018Q3',
 'Debt_Cat_Checkin_2018Q3',
 'Wages Merged_Cat_Checkin_2018Q3',
 'Hours Merged_Cat_Checkin_2018Q3',
 'IncomeClient_Cat_Checkin_2018Q3',
 'IncomeHH_Cat_Checkin_2018Q3',
 'ExpensesHH_Cat_Checkin_2018Q3']

In [244]:
#categorize savings data
df.loc[(df['Savings_Checkin_2018Q3'] ==0),'Savings_Cat_Checkin_2018Q3'] =0
df.loc[(df['Savings_Checkin_2018Q3'] >0) & (df['Savings_Checkin_2018Q3']<=49),'Savings_Cat_Checkin_2018Q3'] ='$1-$49'
df.loc[(df['Savings_Checkin_2018Q3'] >49) & (df['Savings_Checkin_2018Q3']<=199),'Savings_Cat_Checkin_2018Q3'] ='$50-$199'
df.loc[(df['Savings_Checkin_2018Q3'] >199) & (df['Savings_Checkin_2018Q3']<=499),'Savings_Cat_Checkin_2018Q3'] ='$200-$499'
df.loc[(df['Savings_Checkin_2018Q3'] >499) & (df['Savings_Checkin_2018Q3']<=999),'Savings_Cat_Checkin_2018Q3'] ='$500-$999'
df.loc[(df['Savings_Checkin_2018Q3'] >1000) & (df['Savings_Checkin_2018Q3']<=2999),'Savings_Cat_Checkin_2018Q3'] ='$1000-$2999'
df.loc[(df['Savings_Checkin_2018Q3'] >2999),'Savings_Cat_Checkin_2018Q3'] ='$3000+'

In [245]:
#categorize creditscore data
df.loc[(df['CreditScore_Checkin_2018Q3'] <500),'CreditScore_Cat_Checkin_2018Q3'] ='Below 500'
df.loc[(df['CreditScore_Checkin_2018Q3'] >499) & (df['CreditScore_Checkin_2018Q3']<=599),'CreditScore_Cat_Checkin_2018Q3'] ='500-599'
df.loc[(df['CreditScore_Checkin_2018Q3'] >599) & (df['CreditScore_Checkin_2018Q3']<=699),'CreditScore_Cat_Checkin_2018Q3'] ='600-699'
df.loc[(df['CreditScore_Checkin_2018Q3'] >699),'CreditScore_Cat_Checkin_2018Q3'] ='700+'

In [246]:
#categorize Debt data
df.loc[(df['Debt_Checkin_2018Q3'] ==0),'Debt_Cat_Checkin_2018Q3'] ='$0'
df.loc[(df['Debt_Checkin_2018Q3'] >0) & (df['Debt_Checkin_2018Q3']<=999),'Debt_Cat_Checkin_2018Q3'] ='$1-$999'
df.loc[(df['Debt_Checkin_2018Q3'] >999) & (df['Debt_Checkin_2018Q3']<=4999),'Debt_Cat_Checkin_2018Q3'] ='$1,000-$4,999'
df.loc[(df['Debt_Checkin_2018Q3'] >4999) & (df['Debt_Checkin_2018Q3']<=9999),'Debt_Cat_Checkin_2018Q3'] ='$5,000-$9,999'
df.loc[(df['Debt_Checkin_2018Q3'] >9999) & (df['Debt_Checkin_2018Q3']<=29999),'Debt_Cat_Checkin_2018Q3'] ='$10,000-$29,999'
df.loc[(df['Debt_Checkin_2018Q3'] >29999) & (df['Debt_Checkin_2018Q3']<=49999),'Debt_Cat_Checkin_2018Q3'] ='$30,000-$49,999'
df.loc[(df['Debt_Checkin_2018Q3'] >49999) & (df['Debt_Checkin_2018Q3']<=99999),'Debt_Cat_Checkin_2018Q3'] ='$50,000-$99,999'
df.loc[(df['Debt_Checkin_2018Q3'] >99999),'Debt_Cat_Checkin_2018Q3'] ='$100,000+'

In [247]:
#categorize Wages merged data
df.loc[(df['Wages Merged_Checkin_2018Q3'] ==0),'Wages Merged_Cat_Checkin_2018Q3'] =0
df.loc[(df['Wages Merged_Checkin_2018Q3'] >0) & (df['Wages Merged_Checkin_2018Q3']<=9.99),'Wages Merged_Cat_Checkin_2018Q3'] ='$1-$9.99'
df.loc[(df['Wages Merged_Checkin_2018Q3'] >9.99) & (df['Wages Merged_Checkin_2018Q3']<=11.99),'Wages Merged_Cat_Checkin_2018Q3'] ='$10-$11.99'
df.loc[(df['Wages Merged_Checkin_2018Q3'] >11.99) & (df['Wages Merged_Checkin_2018Q3']<=14.99),'Wages Merged_Cat_Checkin_2018Q3'] ='$12-$14.99'
df.loc[(df['Wages Merged_Checkin_2018Q3'] >14.99) & (df['Wages Merged_Checkin_2018Q3']<=19.99),'Wages Merged_Cat_Checkin_2018Q3'] ='$15-$19.99'
df.loc[(df['Wages Merged_Checkin_2018Q3'] >19.99),'Wages Merged_Cat_Checkin_2018Q3'] ='$20+'

In [248]:
#categorize hours merged data
df.loc[(df['Hours Merged_Checkin_2018Q3'] ==0),'Hours Merged_Cat_Checkin_2018Q3'] =0
df.loc[(df['Hours Merged_Checkin_2018Q3'] >0) & (df['Hours Merged_Checkin_2018Q3']<=9),'Hours Merged_Cat_Checkin_2018Q3'] ='1-9'
df.loc[(df['Hours Merged_Checkin_2018Q3'] >9) & (df['Hours Merged_Checkin_2018Q3']<=19),'Hours Merged_Cat_Checkin_2018Q3'] ='10-19'
df.loc[(df['Hours Merged_Checkin_2018Q3'] >19) & (df['Hours Merged_Checkin_2018Q3']<=29),'Hours Merged_Cat_Checkin_2018Q3'] ='20-29'
df.loc[(df['Hours Merged_Checkin_2018Q3'] >29) & (df['Hours Merged_Checkin_2018Q3']<=39),'Hours Merged_Cat_Checkin_2018Q3'] ='30-39'
df.loc[(df['Hours Merged_Checkin_2018Q3'] >39) & (df['Hours Merged_Checkin_2018Q3']<=49),'Hours Merged_Cat_Checkin_2018Q3'] ='40-49'
df.loc[(df['Hours Merged_Checkin_2018Q3'] >49),'Hours Merged_Cat_Checkin_2018Q3'] ='50+'

In [249]:
#categorize incomeclient data 
df.loc[(df['IncomeClient_Checkin_2018Q3'] ==0),'IncomeClient_Cat_Checkin_2018Q3'] =0
df.loc[(df['IncomeClient_Checkin_2018Q3'] >0) & (df['IncomeClient_Checkin_2018Q3']<=499),'IncomeClient_Cat_Checkin_2018Q3'] ='$1-$499'
df.loc[(df['IncomeClient_Checkin_2018Q3'] >499) & (df['IncomeClient_Checkin_2018Q3']<=999),'IncomeClient_Cat_Checkin_2018Q3'] ='$500-$999'
df.loc[(df['IncomeClient_Checkin_2018Q3'] >999) & (df['IncomeClient_Checkin_2018Q3']<=1499),'IncomeClient_Cat_Checkin_2018Q3'] ='$1000-$1499'
df.loc[(df['IncomeClient_Checkin_2018Q3'] >1499) & (df['IncomeClient_Checkin_2018Q3']<=1999),'IncomeClient_Cat_Checkin_2018Q3'] ='$1500-$1999'
df.loc[(df['IncomeClient_Checkin_2018Q3'] >1999) & (df['IncomeClient_Checkin_2018Q3']<=2999),'IncomeClient_Cat_Checkin_2018Q3'] ='$2000-$2999'
df.loc[(df['IncomeClient_Checkin_2018Q3'] >2999),'IncomeClient_Cat_Checkin_2018Q3'] ='$3000+'

In [250]:
#categorize incomehh data
df.loc[(df['IncomeHH_Checkin_2018Q3'] ==0),'IncomeHH_Cat_Checkin_2018Q3'] =0
df.loc[(df['IncomeHH_Checkin_2018Q3'] >0) & (df['IncomeHH_Checkin_2018Q3']<=499),'IncomeHH_Cat_Checkin_2018Q3'] ='$1-$499'
df.loc[(df['IncomeHH_Checkin_2018Q3'] >499) & (df['IncomeHH_Checkin_2018Q3']<=999),'IncomeHH_Cat_Checkin_2018Q3'] ='$500-$999'
df.loc[(df['IncomeHH_Checkin_2018Q3'] >999) & (df['IncomeHH_Checkin_2018Q3']<=1499),'IncomeHH_Cat_Checkin_2018Q3'] ='$1000-$1499'
df.loc[(df['IncomeHH_Checkin_2018Q3'] >1499) & (df['IncomeHH_Checkin_2018Q3']<=1999),'IncomeHH_Cat_Checkin_2018Q3'] ='$1500-$1999'
df.loc[(df['IncomeHH_Checkin_2018Q3'] >1999) & (df['IncomeHH_Checkin_2018Q3']<=2999),'IncomeHH_Cat_Checkin_2018Q3'] ='$2000-$2999'
df.loc[(df['IncomeHH_Checkin_2018Q3'] >2999),'IncomeHH_Cat_Checkin_2018Q3'] ='$3000+'

In [251]:
#categorize expenseshh data
df.loc[(df['ExpensesHH_Checkin_2018Q3'] ==0),'ExpensesHH_Cat_Checkin_2018Q3'] =0
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >0) & (df['ExpensesHH_Checkin_2018Q3']<=499),'ExpensesHH_Cat_Checkin_2018Q3'] ='$1-$499'
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >499) & (df['ExpensesHH_Checkin_2018Q3']<=999),'ExpensesHH_Cat_Checkin_2018Q3'] ='$500-$999'
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >999) & (df['ExpensesHH_Checkin_2018Q3']<=1499),'ExpensesHH_Cat_Checkin_2018Q3'] ='$1000-$1499'
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >1499) & (df['ExpensesHH_Checkin_2018Q3']<=1999),'ExpensesHH_Cat_Checkin_2018Q3'] ='$1500-$1999'
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >1999) & (df['ExpensesHH_Checkin_2018Q3']<=2999),'ExpensesHH_Cat_Checkin_2018Q3'] ='$2000-$2999'
df.loc[(df['ExpensesHH_Checkin_2018Q3'] >2999),'ExpensesHH_Cat_Checkin_2018Q3'] ='$3000+'

## convert numeric to string values

In [252]:
df['Gender_Checkin_2018Q3'].value_counts()

2     1014
1      551
99       1
Name: Gender_Checkin_2018Q3, dtype: int64

In [253]:
#Gender

gender_mapping = {1: 'Male',
                2: 'Female',
                99: 'Unknown',
                 'Male':'Male',
                 'Female':'Female',
                 'Unknown':'Unknown',
                 'F':'Female',
                 'M':'Male'}
df['Gender_Checkin_2018Q3'] = df['Gender_Checkin_2018Q3'].map(gender_mapping)

In [254]:
#Race

race_mapping = {1: 'American Indian or Alaska Native',
                2: 'Asian',
                3: 'Black or African American',
                4: 'Multiple',
                5: 'Native Hawaiian or Pacific Islander',
                6: 'Other',
                7: 'White',
                8: 'Hispanic',
                99: 'Unknown',
                'American Indian or Alaska Native': 'American Indian or Alaska Native',
                'Asian': 'Asian',
                'Black or African American': 'Black or African American',
                'Black or African-American': 'Black or African American',
                'African American': 'Black or African American',
                'Multiple': 'Multiple',
                'Native Hawaiian or Pacific Islander': 'Native Hawaiian or Pacific Islander',
                'Native Hawaiian or Pcific Islander': 'Native Hawaiian or Pacific Islander',
                'Other': 'Other',
                'White': 'White',
                'Unknown': 'Unknown'}
df['Race_Checkin_2018Q3'] = df['Race_Checkin_2018Q3'].map(race_mapping)

In [255]:
#Marital Status
marital_mapping = {1: 'Single',
                2: 'Married or Domestic Partnership',
                3: 'Divorced',
                4: 'Separated',
                5: 'Widowed',
                99: 'Unknown',
                'Single': 'Single',
                'Married or Domestic Partnership': 'Married or Domestic Partnership',
                'Divorced': 'Divorced',
                'Separated': 'Separated',
                'Widowed': 'Widowed',
                'Unknown': 'Unknown'}
df['MaritalStatus_Checkin_2018Q3'] = df['MaritalStatus_Checkin_2018Q3'].map(marital_mapping)

In [256]:
#HighestEd
highestEd_mapping = {1: 'Less than HS',
                2: 'HS, GED, or equivalent',
                3: 'Some college, no degree',
                4: 'Associate Degree',
                5: "Bachelor's Degree",
                6: 'Graduate Degree or above',
                99: 'Unknown',
                'Unknown': 'Unknown', 
                'HS, GED, or equivalent':'HS, GED, or equivalent', 
                'Associate Degree':'Associate Degree',
                'Less than HS':'Less than HS', 
                'Some college, no degree':'Some college, no degree',
                "Bachelor's Degree":"Bachelor's Degree", 
                'Gradeuate Degree or above':'Graduate Degree or above',
                'HS GED or equivalent':'HS, GED, or equivalent', 
                'Graduate Degree or above':'Graduate Degree or above',
                'Bachelors Degree':"Bachelor's Degree", 
                'Some college no degree':'Some college, no degree'}
df['HighestEd_Checkin_2018Q3'] = df['HighestEd_Checkin_2018Q3'].map(highestEd_mapping)

In [257]:
#Housing Type
housingType_mapping = {1: 'Homeless',
                2: 'Lives with Relatives/Friends',
                3: 'Receives free or subsidized housing',
                4: 'Rents',
                5: 'Owns',
                99: 'Unknown',
                'Unknown':'Unknown', 
                'Lives with Relatives/Friends':'Lives with Relatives/Friends', 
                'Rents':'Rents', 
                'Owns':'Owns', 
                'Homeless':'Homeless', 
                'Receives free or subsidized housing':'Receives free or subsidized housing',
                'lives with relatives/friends':'Lives with Relatives/Friends', 
                'rents':'Rents', 
                'owns':'Owns',
                'Lives with Relatives or Friends':'Lives with Relatives/Friends'}
df['HousingType_Checkin_2018Q3'] = df['HousingType_Checkin_2018Q3'].map(housingType_mapping)

In [258]:
#Criminal Background
criminalBackground_mapping = {1: 'Yes',
                             0: 'No',
                             99: 'Unknown',
                             'Yes': 'Yes',
                             'No': 'No',
                             'Unknown': 'Unknown'}
df['CriminalBackground_Checkin_2018Q3'] = df['CriminalBackground_Checkin_2018Q3'].map(criminalBackground_mapping)

In [259]:
#Access Employment
accessEmployment_mapping = {1: 'Yes',
                            0: 'No',
                            'Yes':'Yes',
                            'No':'No'}
df['AccessEmployment_Checkin_2018Q3'] = df['AccessEmployment_Checkin_2018Q3'].map(accessEmployment_mapping)

In [260]:
#Employment Status
employmentStatus_mapping = {1: 'Employed Full Time',
                            2: 'Employed Part Time',
                            3: 'Not employed',
                           'Employed Full Time': 'Employed Full Time',
                           'Employed Part Time': 'Employed Part Time',
                           'Not employed': 'Not employed',
                           'Unemployed':'Not employed', 
                           'Employed Part-Time':'Employed Part Time', 
                           'Employed Full-Time':'Employed Full Time'}
df['EmploymentStatus_Checkin_2018Q3'] = df['EmploymentStatus_Checkin_2018Q3'].map(employmentStatus_mapping)

In [261]:
#Employment Retention
employmentRetention_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['EmploymentRetention_Checkin_2018Q3'] = df['EmploymentRetention_Checkin_2018Q3'].map(employmentRetention_mapping)

In [262]:
jobTrainingEnrolled_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['JobTrainingEnrolled_Checkin_2018Q3'] = df['JobTrainingEnrolled_Checkin_2018Q3'].map(jobTrainingEnrolled_mapping)

In [263]:
jobTrainingCompleted_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['JobTrainingCompleted_Checkin_2018Q3'] = df['JobTrainingCompleted_Checkin_2018Q3'].map(jobTrainingCompleted_mapping)

In [278]:
#Access Financial Coach
accessFinancialCoach_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['AccessFinancialCoach_Checkin_2018Q3'] = df['AccessFinancialCoach_Checkin_2018Q3'].map(accessFinancialCoach_mapping)

AttributeError: 'DataFrame' object has no attribute 'map'

In [265]:
#Benefits Screening

benefitsScreening_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['BenefitsScreening_Checkin_2018Q3'] = df['BenefitsScreening_Checkin_2018Q3'].map(benefitsScreening_mapping)

In [266]:
#Public Benefits Access

publicBenefitsAccess_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['PublicBenefitsAccess_Checkin_2018Q3'] = df['PublicBenefitsAccess_Checkin_2018Q3'].map(publicBenefitsAccess_mapping)

In [271]:
#Agency Provided Support
agencyProvidedSupport_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['AgencyProvidedSupport_Checkin_2018Q3'] = df['AgencyProvidedSupport_Checkin_2018Q3'].map(agencyProvidedSupport_mapping)

In [272]:
#FinCap Budget
finCapBudget_mapping = {1: 'Yes',
                        0: 'No',
                       'Yes': 'Yes',
                       'No': 'No'}
df['FinCap_Budget_Checkin_2018Q3'] = df['FinCap_Budget_Checkin_2018Q3'].map(finCapBudget_mapping)

In [273]:
#FinCap Goals
finCapGoals_mapping = {1: 'Somewhat confident',
                             0: 'Not at all confident',
                      2: 'Very confident',
                      'Very confident':'Very confident', 
                      'Somewhat confident':'Somewhat confident',
                      'Not at all confident':'Not at all confident', 
                      'Somewhat Confident':'Somewhat confident',
                      'Very Confident':'Very confident'}
df['FinCap_Goals_Checkin_2018Q3'] = df['FinCap_Goals_Checkin_2018Q3'].map(finCapGoals_mapping)

In [274]:
#FinCap Emergency Fund
finCapEmergencyFund_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['FinCap_EmergencyFund_Checkin_2018Q3'] = df['FinCap_EmergencyFund_Checkin_2018Q3'].map(finCapEmergencyFund_mapping)

In [275]:
#FinCap Auto Deposit

finCapAutoDeposit_mapping = {1: 'Yes',
                             0: 'No',
                            'Yes': 'Yes',
                            'No': 'No'}
df['FinCap_AutoDeposit_Checkin_2018Q3'] = df['FinCap_AutoDeposit_Checkin_2018Q3'].map(finCapAutoDeposit_mapping)

In [276]:
#FinCap Income Expenses
finCapIncomeExpenses_mapping = {1: 'Yes',
                                0: 'No',
                             'No':'No', 
                             'Yes':'Yes', 
                             "No/Don't know":"Don't know"}
df['FinCap_IncomeExpenses_Checkin_2018Q3'] = df['FinCap_IncomeExpenses_Checkin_2018Q3'].map(finCapIncomeExpenses_mapping)

In [277]:
#FinCap Late Fee
finCapLateFee_mapping = {1: 'Yes',
                             0: 'No',
                        'Yes': 'Yes',
                        'No': 'No'}
df['FinCap_LateFee_Checkin_2018Q3'] = df['FinCap_LateFee_Checkin_2018Q3'].map(finCapLateFee_mapping)

In [ ]:
drop_list = [w for w in df.columns if 'recode' in w]

In [ ]:
df = df.drop(columns =drop_list)

In [ ]:
#df.to_excel('Q3_checkin.xlsx')

### Calculate AccessIncome checkin and BundledServices checkin

In [61]:
#read Q3 checkin data
df_checkin = pd.read_excel(r"C:\Users\Leah\Google Drive\Parent Folder\2. Clients\Local\Dallas\Communities Foundation of Texas\Q32018\Data Work\Q3_checkin_v2.xlsx")

In [62]:
#fill na with NA
df_checkin['BenefitsScreening_Checkin_2018Q3'] = df_checkin['BenefitsScreening_Checkin_2018Q3'].fillna(value='NULL')
df_checkin['PublicBenefitsAccess_Checkin_2018Q3'] = df_checkin['PublicBenefitsAccess_Checkin_2018Q3'].fillna(value='NULL')
df_checkin['AgencyProvidedSupport_Checkin_2018Q3'] = df_checkin['AgencyProvidedSupport_Checkin_2018Q3'].fillna(value='NULL')

In [63]:
conditions1 = [
    (df_checkin['BenefitsScreening_Checkin_2018Q3']=='Yes')|(df_checkin['PublicBenefitsAccess_Checkin_2018Q3']=='Yes')|(df_checkin['AgencyProvidedSupport_Checkin_2018Q3']=='Yes')
]
choices1 = ['Yes']
df_checkin['AccessIncome_Checkin_2018Q3_code1']=np.select(conditions1,choices1,default='No')

In [64]:
df_checkin['AccessIncome_Checkin_2018Q3_code1'].value_counts()

Yes    820
No     742
Name: AccessIncome_Checkin_2018Q3_code1, dtype: int64

In [65]:
conditions2 = [
    (df_checkin['BenefitsScreening_Checkin_2018Q3']=='NULL') & (df_checkin['PublicBenefitsAccess_Checkin_2018Q3']=='NULL') & (df_checkin['AgencyProvidedSupport_Checkin_2018Q3']=='NULL')
]
choices2 = ['NULL']
df_checkin['AccessIncome_Checkin_2018Q3_code2'] = np.select(conditions2, choices2,"")

In [66]:
df_checkin['AccessIncome_Checkin_2018Q3_code1'].value_counts()

Yes    820
No     742
Name: AccessIncome_Checkin_2018Q3_code1, dtype: int64

In [67]:
df_checkin['AccessIncome_Checkin_2018Q3_code2'].value_counts()

        1071
NULL     491
Name: AccessIncome_Checkin_2018Q3_code2, dtype: int64

In [68]:
conditions3 = [
    (df_checkin['AccessIncome_Checkin_2018Q3_code2']=='NULL')
]
choices3 = ['NULL']
df_checkin['AccessIncome_Checkin_2018Q3']=np.select(conditions3,choices3,df_checkin['AccessIncome_Checkin_2018Q3_code1'])

In [69]:
df_checkin['AccessIncome_Checkin_2018Q3'].value_counts()

Yes     820
NULL    491
No      251
Name: AccessIncome_Checkin_2018Q3, dtype: int64

#### remember to drop _code1,_code2, and drop NULL

### Calculate Bundled services

In [70]:
df_checkin['AccessFinancialCoach_Checkin_2018Q3'].value_counts()

1.0    745
0.0    401
Name: AccessFinancialCoach_Checkin_2018Q3, dtype: int64

In [81]:
df_checkin['AccessFinancialCoach_Checkin_2018Q3_recode']=df_checkin['AccessFinancialCoach_Checkin_2018Q3'].fillna(0)

In [82]:
df_checkin['AccessFinancialCoach_Checkin_2018Q3_recode'].value_counts()

0.0    817
1.0    745
Name: AccessFinancialCoach_Checkin_2018Q3_recode, dtype: int64

In [71]:
df_checkin['AccessEmployment_Checkin_2018Q3'].value_counts()

Yes    585
No     545
Name: AccessEmployment_Checkin_2018Q3, dtype: int64

In [83]:
conditions5 = [
    df_checkin['AccessEmployment_Checkin_2018Q3']=='Yes',
    df_checkin['AccessEmployment_Checkin_2018Q3']=='No'
]
choices5= [1,0]
df_checkin['AccessEmployment_Checkin_2018Q3_recode']=np.select(conditions5,choices5,0)

In [84]:
df_checkin['AccessEmployment_Checkin_2018Q3_recode'].value_counts()

0    977
1    585
Name: AccessEmployment_Checkin_2018Q3_recode, dtype: int64

In [85]:
conditions6 = [
    df_checkin['AccessIncome_Checkin_2018Q3']=='Yes',
    df_checkin['AccessIncome_Checkin_2018Q3']=='No'
]
choices6=[1,0]
df_checkin['AccessIncome_Checkin_2018Q3_recode']=np.select(conditions6,choices6,0)

In [86]:
df_checkin['AccessIncome_Checkin_2018Q3_recode'].value_counts()

1    820
0    742
Name: AccessIncome_Checkin_2018Q3_recode, dtype: int64

In [87]:
df_checkin['BundledServices_Checkin_2018Q3']=df_checkin['AccessIncome_Checkin_2018Q3_recode']+df_checkin['AccessEmployment_Checkin_2018Q3_recode']+df_checkin['AccessFinancialCoach_Checkin_2018Q3_recode']

In [88]:
df_checkin['BundledServices_Checkin_2018Q3'].value_counts()

0.0    436
1.0    429
2.0    370
3.0    327
Name: BundledServices_Checkin_2018Q3, dtype: int64

In [89]:
#**********************************
conditions4 = [
    (df_checkin['AccessFinancialCoach_Checkin_2018Q3']==1),
    (df_checkin['AccessFinancialCoach_Checkin_2018Q3']==0)
]
choices4 = ['Yes','No']
df_checkin['AccessFinancialCoach_Checkin_2018Q3']= np.select(conditions4,choices4,"")

In [90]:
df_checkin['AccessFinancialCoach_Checkin_2018Q3'].value_counts()

Yes    745
       416
No     401
Name: AccessFinancialCoach_Checkin_2018Q3, dtype: int64

In [91]:
df_checkin = df_checkin.rename(columns = {'AccessFinancialCoach_Checkin_2018Q3.1':'AccessFinancialEd_Checkin_2018Q3'})

In [95]:
drop_list2 = [w for w in df_checkin.columns if 'code'in w]

In [96]:
df_checkin = df_checkin.drop(columns=drop_list2)

In [100]:
df_checkin = df_checkin.replace('NULL',"")

In [101]:
df_checkin.to_excel('Q3_checkin_v3.xlsx')